<section class="catalog-filter">
  <form [formGroup]="filtersForm" (change)="onChange()">
    <div class= "catalog-filter-container">
    <div class="genres" *ngIf="currentGenre">
    <h3>Sort by genres</h3>
    <select multiple name="genres" formControlName="genres">
      <option *ngFor="let genre of genres$ | async" [selected]="genre===currentGenre">
        {{ genre }}
      </option>
    </select>
    </div>

  <div class = "directors">
    <h3>Sort by directors</h3>
    <select multiple name="directors" formControlName="directors">
      <option *ngFor="let director of directors$ | async">
        {{ director }}
      </option>
    </select>
  </div>

  <div class = "years">
    <h3>Sort by years</h3>
    <select multiple name="year" formControlName="year">
      <option *ngFor="let year of years$ | async">
        {{ year }}
      </option>
    </select>
  </div>

  <div class = "countries">
    <h3>Sort by countries</h3>
    <select multiple name="countries" formControlName="countries">
      <option *ngFor="let country of countries$ | async">
        {{ country }}
      </option>
    </select>
  </div>

  <div class = "languages">
    <h3>Sort by languages</h3>
    <select multiple name="languages" formControlName="languages">
      <option *ngFor="let language of languages$ | async">
        {{ language }}
      </option>
    </select>
  </div>

  <div class = "rated">
    <h3>Sort by rated</h3>
    <select multiple name="rated" formControlName="rated">
      <option *ngFor="let rated of rateds$ | async">
        {{ rated }}
      </option>
    </select>
  </div>

  <div class = "type">
    <h3>Sort by type</h3>
    <select multiple name="types" formControlName="types">
      <option *ngFor="let type of types$ | async">
        {{ type }}
      </option>
    </select>
  </div>

  <div class = "price" *ngIf="prices$ | async as price">
    <h3>Sort by price</h3>
    <p>From</p>
    <input name="priceMin" formControlName="priceMin" [placeholder]="price[0]">
    <p>To</p>
    <input name="priceMax" formControlName="priceMax" [placeholder]="price[price.length-1]">
    </div>

  <div class = "checkbox">
    <mat-checkbox formControlName="onlySale" (click)="onChange()"
    >Only sale</mat-checkbox>
  </div>
  </div>
  </form>
</section>
