<section class="catalog-filter">
  <form [formGroup]="filtersForm" *ngIf="filtersOptions$ | async as options">
    <mat-form-field appearance="fill" class="genres">
      <mat-label>Sort by genres</mat-label>
      <mat-select formControlName="genres" multiple (selectionChange)="onChange()">
        <mat-option *ngFor="let genre of options['genres']" [value]="genre">{{
          genre
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="directors">
      <mat-label>Sort by directors</mat-label>
      <mat-select formControlName="directors" multiple (selectionChange)="onChange()">
        <mat-option
          *ngFor="let director of options['directors']"
          [value]="director"
          >{{ director }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="years">
      <mat-label>Sort by years</mat-label>
      <mat-select formControlName="year" multiple (selectionChange)="onChange()">
        <mat-option *ngFor="let year of options['years']" [value]="year">{{
          year
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="countries">
      <mat-label>Sort by countries</mat-label>
      <mat-select formControlName="countries" multiple (selectionChange)="onChange()">
        <mat-option
          *ngFor="let countrie of options['countries']"
          [value]="countrie"
          >{{ countrie }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="languages">
      <mat-label>Sort by languages</mat-label>
      <mat-select formControlName="languages" multiple (selectionChange)="onChange()">
        <mat-option
          *ngFor="let language of options['languages']"
          [value]="language"
          >{{ language }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="rated">
      <mat-label>Sort by rated</mat-label>
      <mat-select formControlName="rated" multiple (selectionChange)="onChange()">
        <mat-option *ngFor="let rating of options['rateds']" [value]="rating">{{
          rating
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="type">
      <mat-label>Sort by type</mat-label>
      <mat-select formControlName="types" multiple (selectionChange)="onChange()">
        <mat-option *ngFor="let type of options['types']" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="price">
      <mat-label>Sort by price</mat-label>
      <input type="number" matInput formControlName="priceMin" placeholder="From" min="{options['prices'][0]}" max="{options['prices'][options['prices'].length - 1]}" (change)="onChange()"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="price">
       <input type="number" matInput formControlName="priceMax" placeholder="To" min="{options['prices'][0]}" max="{options['prices'][options['prices'].length - 1]}" (change)="onChange()"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="rating">
      <mat-label>Sort by rating</mat-label>
      <input type="number" matInput formControlName="minRating" placeholder="From" min="1" max="10" (change)="onChange()"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="rating">
       <input type="number" matInput formControlName="maxRating" placeholder="To" min="2" max="10" (change)="onChange()"/>
    </mat-form-field>

    <mat-checkbox formControlName="onlySale" (change)="onChange()">Only sale</mat-checkbox>

  </form>

</section>
