<ng-container *ngIf="film$ | async as film">
  <div class="film-page-container">
  <img [src]="film.urlPoster" [alt]="film.title">
  <h2>{{film.title}}</h2>
  <h3 *ngIf="film.originalTitle">{{film.originalTitle}}</h3>
  <p>Year: {{film.year}}</p>
  <p>Directors: {{film.directors}} </p>
  <p>Writers: {{film.writers}}</p>
  <p>Actors:</p>
  <app-actors-card [actors]="film.actors">
  </app-actors-card>
  <p>Plot: {{film.plot}}</p>
  <p>Genres:</p>
  <span *ngFor="let genre of film.genres">{{genre}}
  </span>
  <app-movie-rating [rating]="film.rating"></app-movie-rating>
  <div *ngIf="film.id">
  <app-video-player [id]="film.id"></app-video-player>
  </div>
  </div>
  </ng-container>
