app-movie-rating {
  display: block;
  margin-left: 13%;
  white-space: nowrap;

  button.movie-rating {
    background: transparent;
    border: 0;
    color: lightgrey;
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px #bbb;

    &.active {
      color: gold;
      text-shadow: 1px 1px #c60;
    }
  }
}
