/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
 display: flex;
 justify-content: center;
 height: 10vh;
 background-color: black;
}

.page {
  height: 80vh;
  width: 80%;
  margin: 4vh auto;
}

img {
  max-height: 50vh;
  padding: 1em;
  right: 0;
  top: 0;
}
