/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; width: 100vw;}

.header {
  height: 15vh;
  width: 100vw;
  background-color: black;
  padding: 2vh auto;

  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .input-search {
      width: 70%;
      height: 4vh;
      margin: 2vh 0 1vh 0;
      border-radius: 30px;
      border: 2px solid white;
      background-color: aliceblue;
     }
 }

 .settings-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 80vw;
  margin: 0 auto;

  app-menu-button {
    width: 10%;
  }

  .icons-settings {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  .user-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
 }

}

.page {
  height: 70vh;
  width: 80%;
  margin: 4vh auto;
}

img {
  max-height: 50vh;
  padding: 1em;
  right: 0;
  top: 0;
}

a {
  color: red;
}
