.film-card {
  margin: 2em;
  width: 240px;

  .film-container {
    text-align: center;
    height: 380px;

    .catalog-image img {
    max-height: 45vh;
    margin: 0 auto;
    padding: 0;
  }

  .film-title {
    font-size: 1.3em;
    font-weight: bold;

  }
  }
  app-movie-rating {
   margin: 0 auto;
  }

 .film-price{
   margin: 1em 0;
   text-align: right;
  }
}

